<%= form_for blog do |f| %>
  <section class="input group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </section>
  <section class="input group">
    <%= f.label :tag_names %>
    <%= f.text_field :tag_names %>
  </section>
  <button class="cancel-blog">Cancel</button>
  <%= f.submit "Create blog" %>
<% end %>
