<%= form_for blog, html: { multipart: true } do |f| %>
  <%= f.file_field :avatar %>
  <section class="input group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </section>
  <section class="input group">
    <%= f.label :tag_names %>
    <%= f.text_field :tag_names %>
  </section>
  <button class="cancel">Cancel</button>
  <%= f.submit "Create blog" %>
<% end %>
